<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Homework: Intro to Pandas

_Author: Kevin Coyle (L.A.)_

---

Welcome!

#### Pandas: Intro Practice Problems

In this homework, you're going to write code for a few problems. 

You'll be practicing these programming concepts we've covered in class:
* Reading data sets into Pandas.
* Filtering, manipulating, and sorting data sets.
* Basic exploratory data analysis with Pandas.

#### #1. Import Pandas with an alias of `pd`.

#### #2. Read in the NBA players `csv` into a variable called `nba_df`.

This is a data set of NBA players from 2015. The filename is `NBA_players_2015.csv`.

#### #3. Look at the first five rows of the data set.

#### #4. Check out the shape of the data set.

#### #5. Run some summary stats on the data set with the `describe()` function.

#### #6. Sort the data set in on the `players` column in alphabetical order.

#### #7. Filter the data set. Create three sub DataFrames from the `position` column for `G`, `F`, and `C`.

#### #8.  Run `describe()` on these new DataFrames. Compare the mean field goals (the `fg` column) between positions.

#### #9. First create a series from column "g" and get the minimum, 25th percentile, median, 75th, and max of a numeric series?

#### #10. How to bin a numeric series to 10 groups of equal size?

#### #11. Assume you are building a model and column "g" is actual value and Column "gs" is predicted value. Create a new column to calcuate accuracy of the model usinf Mean Square error formula

#### #11.How to keep only top 2 most frequent values of "bref_team_id" as it is and replace everything else as ‘Other’?

#### #12. How to filter player names in the column "player" that contain atleast 2 vowels ?

The end!

#### Great job!